<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>AddUsers</servlet-name>
    <servlet-class>com.yjx.AddUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.yjx.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Browse</servlet-name>
    <servlet-class>com.yjx.BrowseArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddArticles</servlet-name>
    <servlet-class>com.yjx.AddArticles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteArticles</servlet-name>
    <servlet-class>com.yjx.DeleteArticles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttainArticles</servlet-name>
    <servlet-class>com.yjx.AttainArticles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyArticles</servlet-name>
    <servlet-class>com.yjx.ModifyArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsers</servlet-name>
    <url-pattern>/AddUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/Browse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddArticles</servlet-name>
    <url-pattern>/AddArticles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteArticles</servlet-name>
    <url-pattern>/DeleteArticles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttainArticles</servlet-name>
    <url-pattern>/AttainArticles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyArticles</servlet-name>
    <url-pattern>/ModifyArticles</url-pattern>
  </servlet-mapping>
</web-app>